</body>
<div class="footer">
    <div class="row">
        <div class="col-lg-4 col-footer">
            <a class="checkGPA-name" href="/">checkGPA.</a>
            <h5 class="checkgparight">Copyright &copy <%= recentyear %> checkGPA.</h5>
        </div>
        <div class="col-lg-4 col-footer">
            <h5 class="checkgpap"><a class="pad-p" href="/terms&conditions" target="_blank">Terms of Service</a>|
                <a class="pad-p" href="/privacy-policy" target="_blank">Privacy Statement</a>|
                <a class="pad-p" href="mailto:checkgpa2020@gmail.com" target="_blank">Contact Us
                </a>
            </h5>
        </div>
        <div class="col-lg-4 col-footer">
            <h5 class="checkgpap">Developed by DevDan.</h5>
            <div class="div-socials">
                <a href="https://www.instagram.com/devdan2002" target="_blank"><i class="all-socials insta-social fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/devdan2002" target="_blank"> <i class="all-socials twitter-social fab fa-twitter fa-2x"></i></a>
                <a href="mailto:oyerinde.daniel@yahoo.com" target="_blank"><i class="all-socials yahoo-social fab fa-yahoo fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>

</html>
