<%- include('partials/mainheader'); -%>
<div class="container-one">
    <h1>How to Calculate Your GPA.</h1>
</div>
<div class="container-two margin-bottom">
    <div class="row">
        <div class="col-lg-9">
            <div>
                <h2>What is GPA?</h2>
                <p>GPA simply means Grade Point Average. That is a measure of a student’s academic achievement at a college or university; calculated by dividing the total number of acquired Grade Points by the total number of Course Unit/Hour received.</p>
                <h2>GPA Scales.</h2>
                <p>GPA calculation starts by converting your letter grade into a number. GPA Scales varies depending on the college you are in.</p>
                <p>The GPA Scales below shows the grading system for the college Daniel attends. For his college, grade letter A is 5.</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Grade Letter</th>
                        <th scope="col">Grade Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-a">
                        <td>A</td>
                        <td>5</td>
                    </tr>
                    <tr class="table-b">
                        <td>B</td>
                        <td>4</td>
                    </tr>
                    <tr class="table-c">
                        <td>C</td>
                        <td>3</td>
                    </tr>
                    <tr class="table-d">
                        <td>D</td>
                        <td>2</td>
                    </tr>
                    <tr class="table-f">
                        <td>F</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <p>Wondering why American schools skip the <a href="http://www.slate.com/articles/news_and_politics/explainer/2010/08/e_is_for_fail.html" target="_blank">letter "E"
                </a>. </p>
            <h2>Calculating GPA.</h2>
            <div class="unorder-list">
                <ul>
                    <li>
                        <h2 class="point-h2">The Grade Point Average<h2>
                    </li>
                    <p>At the end of each semester, Daniel's grade point average is worked out using the above grading system. Supposing Daniel offers the following courses in his first semester.</p>
                    <p>The table below shows the courses Daniel offers and there credit units </p>
                    <table>
                        <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Grade Letter</th>
                                <th>Credit Units/Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-a">
                                <td>MAT 101</td>
                                <td>A</td>
                                <td>3</td>
                            </tr>
                            <tr class="table-a">
                                <td>ENG 101</td>
                                <td>A</td>
                                <td>3</td>
                            </tr>
                            <tr class="table-b">
                                <td>PHY 101</td>
                                <td>B</td>
                                <td>2</td>
                            </tr>
                            <tr class="table-c">
                                <td>BIO 101</td>
                                <td>C</td>
                                <td>2</td>
                            </tr>
                            <tr class="table-a">
                                <td>CHM 101</td>
                                <td>A</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Assuming Daniel obtains A, A, B, C, A, respectively in his courses. Using the grading scales above, he obtains the grading points of 5, 5, 4, 3, 5 respectively. The grading points obtained are multiplied with the credit unit as shown below.</p>
                    <table class="allcalculation2">
                        <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Grade Letter</th>
                                <th>Credit Units/Hours</th>
                                <th>Grade Points</th>
                                <th>Credit Units x Grade Points</th>
                                <th>Total Points</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-a">
                                <td>MAT 101</td>
                                <td>A</td>
                                <td>3</td>
                                <td>5</td>
                                <td>3 x 5</td>
                                <td>15</td>
                            </tr>
                            <tr class="table-a">
                                <td>ENG 101</td>
                                <td>A</td>
                                <td>3</td>
                                <td>5</td>
                                <td>3 x 5</td>
                                <td>15</td>
                            </tr>
                            <tr class="table-b">
                                <td>PHY 101</td>
                                <td>B</td>
                                <td>2</td>
                                <td>4</td>
                                <td>2 x 4</td>
                                <td>8</td>
                            </tr>
                            <tr class="table-c">
                                <td>BIO 101</td>
                                <td>C</td>
                                <td>2</td>
                                <td>3</td>
                                <td>2 x 3</td>
                                <td>6</td>
                            </tr>
                            <tr class="table-a">
                                <td>CHM 101</td>
                                <td>A</td>
                                <td>2</td>
                                <td>5</td>
                                <td>2 x 5</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td></td>
                                <td>12</td>
                                <td></td>
                                <td></td>
                                <td>54</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>In the table above the sum of the credit unit is taken.</p>
                    <p>Finally to calculate Daniel's GPA (Grade Point Average) for his first semester. Divide the total points by credit units. (54/12) </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>GPA</td>
                                <td>4.50</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Daniel's GPA for his first semester is 4.50. You can apply the steps above for other semesters.</p>
                    <h2>Note</h2>
                    <p>Your GPA doesn't define you—after all, it would be impossible to fit your background, personality, and skills into one number. However, it is a strong indication to colleges and companies of how seriously you took your studies and how consistent you were with maintaining your grades.</p>
                    <p>A high GPA is worth the effort and will open doors for continued education or job opportunities. Thankfully, the steps to calculating your GPA are straightforward and helpful.</p>
                </ul>
            </div>
            <p></p>
        </div>
        <div class="col-lg-3">
            One of three columns
        </div>
    </div>
</div>
<div class="container-three">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="card" style="width: 100%;">
                <img src="svg/userguide.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Users' Guide</h5>
                    <p class="card-text">Download Users' Guide.</p>
                    <a href="downloadhelp/checkGPA.pdf" download="Users' Guide" class="btn btn-btn1">Download Users' Guide</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card" style="width: 100%;">
                <img src="svg/raisegpa.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">How to Raise your GPA</h5>
                    <p class="card-text">Discover the most effective ways to bring up and keep up your GPA.</p>
                    <a href="/how-to-raise-gpa" class="btn btn-btn2">How to Raise your GPA</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card" style="width: 100%;">
                <img src="svg/calculatorgpapurple.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GPA Calculator</h5>
                    <p class="card-text">Track and save GPA to keep tabs on your academic progress.</p>
                    <a href="/grade-system" class="btn btn-btn3">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/mainfooter'); -%>
