<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no"'>
    <meta name="author" content="Oyerinde Daniel Diekololuwa">
    <title>Terms &amp; Conditions</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Styles.css -->
    <link rel="stylesheet" href="css/policies.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="body-container">
        <a href="/"> <img class="pics1" src="pics/reviewpics/1.png"> </a>
        <a href="/"> <img class="pics2" src="pics/reviewpics/2.png"> </a>
        <a href="/"><img class="pics3" src="pics/reviewpics/3.png"></a>
        <a href="/"> <img class="pics4" src="pics/reviewpics/4.png"></a>
        <a href="/"> <img class="pics5" src="pics/conditionspics/school.png"></a>
        <a href="/"> <img class="pics6" src="pics/conditionspics/student.png"></a>
        <a href="/"> <img class="pics7" src="pics/conditionspics/student2.png"></a>
        <a href="/"> <img class="pics8" src="pics/conditionspics/gdpr.png">
        </a>
        <div class="main-container">
            <h2>Terms &amp; Conditions.</h2>
            <p>
                By using the web application, these terms will
                automatically apply to you, you should make sure therefore
                that you read them carefully before using the application. You’re not
                allowed to copy, or modify the web application, any part of the app, or
                our trademarks in any way. You’re not allowed to attempt to
                extract the source code of the application, and you also shouldn’t try
                to translate the app into other languages, or make derivative
                versions. The application itself, and all the trade marks, copyright,
                database rights and other intellectual property rights related
                to it, still belong to Oyerinde Daniel.
            </p>
            <p>
                Oyerinde Daniel is committed to ensuring that the web application is
                as useful and efficient as possible. For that reason, we
                reserve the right to make changes to the web application or to charge for
                its services, at any time and for any reason. We will never
                charge you for the app or its services without making it very
                clear to you exactly what you’re paying for.
            </p>
            <p>
                The checkGPA web application stores and processes personal data that
                you have provided to us, in order to provide my
                Service. It’s your responsibility to keep your username and password access for the application secure.
            </p>
            <div>
                <p>
                    The app does use third party services that declare their own
                    Terms and Conditions.
                </p>
                <p>
                    Link to Terms and Conditions of third party service
                    providers used by the app
                </p>
                <ul>
                    <li><a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Google Play Services</a></li>
                </ul>
            </div>
            <p>
                You should be aware that there are certain things that
                Oyerinde Daniel will not take responsibility for. Certain
                functions of the application will require the application to have an active
                internet connection. The connection can be Wi-Fi, or provided
                by your mobile network provider, but Oyerinde Daniel
                cannot take responsibility for the web application not working at full
                functionality if you don’t have access to internet.
            </p>
            <p></p>
            <p>
                Along the same lines, Oyerinde Daniel cannot always take
                responsibility for the way you use the application i.e. Not inputing your GPA grade system then trying to calculate GPA or repeating thesame grade more than once then trying to calculate GPA.
            </p>
            <p>
                With respect to Oyerinde Daniel’s responsibility for your
                use of the web application, when you’re using the web application, it’s important to
                bear in mind that although we endeavour to ensure that it is
                updated and correct at all times, we do rely on third parties
                to provide information to us so that we can make it available
                to you. Oyerinde Daniel accepts no liability for any
                loss, direct or indirect, you experience as a result of
                relying wholly on this functionality of the web application.
            </p>
            <p>
                At some point, I may wish to update the web application. Oyerinde Daniel does not promise to always update the web application. However, you promise to always
                accept updates to the application when offered to you, We may
                also wish to stop providing the web application, and may terminate use of
                it at any time without giving notice of termination to you.
                Unless we tell you otherwise, upon any termination, (a) the
                rights and licenses granted to you in these terms will end;
                (b) you must stop using the web application.
            </p>
            <p>
                <h2>Changes to This Terms and Conditions.</h2>
            </p>
            <p>
                I may update the Terms and Conditions
                from time to time. Thus, you are advised to review this page
                periodically for any changes. I will
                notify you of any changes by posting the new Terms and
                Conditions on this page.
            </p>
            <p>
                These terms and conditions are effective as of 2020-08-09
            </p>
            <p>
                <h2>Contact Me.</h2>
            </p>
            <p>
                If you have any questions or suggestions about my
                Terms and Conditions, do not hesitate to contact me
                at <a href="mailto:oyerinde.daniel@yahoo.com" target="_blank" rel="noopener noreferrer">checkgpa@gmail.com</a>.
            </p>
        </div>
        <p class="p-copyright mt-5 mb-3 text-muted">&copy; 2020</p>
    </div>
</body>

</html>
