<%- include('partials/mainheader'); -%>
<div id="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class=" row1 col-lg-4">
                <h1><span class="h1-check">Check</span> GPA</h1>
            </div>
            <div class=" row2 col-lg-8">
                <div class="main-carousel">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active " data-interval="5000">
                                <img src="pics/checkgpa.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win4.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/wav3.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win3.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win2.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote1.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote2.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote3.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote4.png" alt="...">
                            </div>
                            <div class=" carousel-item" data-interval="4000">
                                <iframe src="https://audiomack.com/embed/album/heisrema/rema-compilation?background=1&color=000000" scrolling="no" width="100%" height="400" scrollbars="no" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="my-socials">
        <h6 class="contact-me">CONTACT ME</h6>
        <div class="div-socials">
            <a href="https://www.instagram.com/devdan2002" target="_blank"><i class="all-socials insta-social fab fa-instagram fa-5x"></i></a>
            <span class="tooltiptext tooltiptext1">devdan2002</span>
        </div>
        <div class="div-socials">
            <a href="https://twitter.com/devdan2002" target="_blank"> <i class="all-socials twitter-social fab fa-twitter fa-5x"></i></a>
            <span class="tooltiptext tooltiptext2">devdan2002</span>
        </div>
        <div class="div-socials">
            <a href="mailto:oyerinde.daniel@yahoo.com" target="_blank"><i class="all-socials yahoo-social fab fa-yahoo fa-5x"></i></a>
            <span class="tooltiptext tooltiptext3">oyerinde.daniel@yahoo.com</span>
        </div>
    </div>
    <div class="p-copyright">
        <h6><span class="checkgpa">&copy <%= recentyear %> checkGPA. All RIGHT RESERVED.</span>
            <span class="termss">
                <a href="/terms&conditions" target="_blank">Terms of Service</a>
            </span>|
            <span class="privs">
                <a href="/privacy-policy" target="_blank">Privacy Statement</a>
            </span>|
            <span class="cont">
                <a href="/privacy-policy" target="_blank">Contact Us</a>
            </span>
        </h6>
    </div>
</footer>
<%- include('partials/mainfooter'); -%>
