<%- include('partials/mainheader'); -%>
<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class=" row1 col-lg-4">
                <h1><span class="h1-check">Check</span> GPA</h1>
            </div>
            <div class=" row2 col-lg-8">
                <div class="main-carousel">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active " data-interval="5000">
                                <img src="pics/checkgpa.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win4.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/wav3.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win3.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win2.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote1.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote2.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote3.png" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote4.png" alt="...">
                            </div>
                            <div class=" carousel-item" data-interval="4000">
                                <iframe src="https://audiomack.com/embed/album/heisrema/rema-compilation?background=1&color=000000" scrolling="no" width="100%" height="400" scrollbars="no" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/mainfooter'); -%>
