<%- include('partials/mainheader'); -%>
<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class=" row1 col-lg-4">
                <h1><span class="h1-check">Check</span> GPA</h1>
            </div>
            <div class=" row2 col-lg-8">
                <div class="main-carousel">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active " data-interval="5000">
                                <img src="pics/checkgpalogo1.png" alt="imageslider1">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win.png" alt="imageslider2">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote0.png" alt="imageslider3">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote13.png" alt="imageslider4">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win4.png" alt="imageslider5">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/wav3.png" alt="imageslider6">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote14.png" alt="imageslider7">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/win2.png" alt="imageslider8">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote1.png" alt="imageslider9">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote2.png" alt="imageslider10">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote3.png" alt="imageslider11">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote4.png" alt="imageslider12">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote5.png" alt="imageslider13">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote6.png" alt="imageslider14">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote7.png" alt="imageslider15">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote9.png" alt="imageslider16">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote10.png" alt="imageslider17">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="pics/inspirationquote12.png" alt="imageslider18">
                            </div>
                            <div class="carousel-item" data-interval="5000">
                                <img src="pics/checkgpalogo2.png" alt="imageslider19">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/mainfooter'); -%>
