<%- include('partials/header'); -%>
<div class="table-gradesystem">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">GRADE</th>
                <th scope="col">POINTS</th>
            </tr>
        </thead>
        <tbody>
            <% allgradeitems.forEach(function(allgradeitem){ %>
            <tr>
                <td><%= allgradeitem.grade1 %></td>
                <td><%= allgradeitem.points %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<div class="home-container1">
    <a href="/grade-system"><img src="pics/homepics/resultgrade.png" class="img-systems" alt="grade.png"></a>
    <h5>Enter your Grade, Points & total units</h5>
    <form action="/grade-system" method="POST">
        <div class="form-group">
            <input type="text" name="grade1" autocomplete="off" class="form-gradesystem form-control" placeholder="Enter Grade e.g. A">
            <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <input type="text" name="point" autocomplete="off" class="form-gradesystem form-control" placeholder="Enter Point e.g. 5">
            <small class="form-text text-muted"></small>
        </div>
        <!--
        <div class="form-group">
            <input type="text" class="form-gradesystem form-control" placeholder="Enter total units">
            <small class="form-text text-muted"></small>
        </div>
-->
        <button type="submit" class="form-gradesystem btn btn-dark">Add</button>
    </form>
</div>
<div class="table-gradesystem">
    <h4>EXAMPLE</h4>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">GRADE</th>
                <th scope="col">POINTS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A</td>
                <td>5</td>
            </tr>
            <tr>
                <td>B</td>
                <td>4</td>
            </tr>
            <tr>
                <td>C</td>
                <td>3</td>
            </tr>
            <tr>
                <td>D</td>
                <td>2</td>
            </tr>
            <tr>
                <td>F</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('partials/footer'); -%>
