<%- include('partials/mainheader'); -%>
<div class="container-one">
    <h1>How to Raise Your GPA.</h1>
    <!--    <p class="p-joke "> <span class="appspo">"</span><%= jokeone %> <span class="appspo">"</span></p>-->
</div>
<div class="container-two">
    <div class="row">
        <div class="col-lg-9">
            <div>
                <h2>Start Early.</h2>
                <p>Starting early is very important. it is much easier to maintain a high GPA than to recover one that has tanked. Starting early is key and for those about starting junior year, senior year or college, start early. But what if you're already getting a late start? If you are nearing the end of your junior year, or already a senior in high school or college, you want to focus instead on raising your GPA making it better than it's now. It's time to buckle up, checkGPA will assist you in calculating, maintaining and raising your GPA.</p>

                <h2>Ways to Raise Your GPA.</h2>
                <p>Starting early form the foundation of a strong GPA. In addition, here are practical tips for raising your GPA. </p>
                <div class="unorder-list">
                    <ul>

                        <li>
                            <h2 class="point-h2">Ensure you attend every class.</h2>
                        </li>
                        <p>People take attending classes for granted especially if there will be no class attendance. Also College students try to justify skipping class—especially if the professor makes the lecture slides available online—but if you're interested in a solid GPA, discipline yourself to show up. Attending class plays a huge role in maintaing and raising your GPA.</p>
                        <p>For example. Daniel a bright, hard-working student in college decided in semester A that he will not be going for English classes, thinking he will be able to easily ace the course. He said "It is just english i can write it in my sleep."</p>
                        <p>Look at Daniel result for semester A.</p>
                        <table class="table table-raise">
                            <thead>
                                <tr>
                                    <th scope="col">Course Code</th>
                                    <th scope="col">Credit Hours</th>
                                    <th scope="col">Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-success">
                                    <td>MATH 101</td>
                                    <td>3</td>
                                    <td>A</td>
                                </tr>
                                <tr class="table-danger">
                                    <td>ENG 101</td>
                                    <td>3</td>
                                    <td>C</td>
                                </tr>
                                <tr class="table-success">
                                    <td>PHY 101</td>
                                    <td>2</td>
                                    <td>A</td>
                                </tr>
                                <tr class="table-success">
                                    <td>BIO 101</td>
                                    <td>2</td>
                                    <td>A</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>One of the major reason for a grade C in English, came from Daniel's lack of attendance.</p>
                        <p>The "C" in English does matter, Although Daniel has straight As in all his other classes. In reality, that one poor grade dropped his GPA from a straight A (5.0) to a B (4.4).</p>
                        <p>Here's the thing: if you want to maintain or score a high GPA, you have to take every class seriously. You may get stuck in a class that you don't like, but you can't afford to write it off. If you do, it may pull down all the other grades you worked hard to earn.</p>
                        <li>
                            <h2 class="point-h2">Set your Goals for the Semester.</h2>
                        </li>
                        <p>Setting goals is also a vital process in raising and maintaining your GPA. “All who have accomplished great things have had a great aim, have fixed their gaze on a goal which was high, one which sometimes seemed impossible.” —<span class="motvquote">Orison Swett Marden</span></p>
                        <p> Make a plan for what it takes to get there. Use our GPA calculator to find your current GPA, set a goal for raising that number, and then figure out what grades you will need to earn.</p>
                        <li>
                            <h2 class="point-h2">Be Organized.</h2>
                        </li>
                        <p>If you don’t have a study strategy, you can study all day and night and still not get anywhere. The only sure way to make the most of your study time is to employ a study strategy that complements your schedule and learning style.</p>
                        <p>Getting organized is one of the easiest ways to raise your GPA in college. When you’re organized, you automatically reduce the amount of time and effort that it takes to do well in college. Things you should organize include: your class schedule, notes, study time, reading assignments.</p>
                        <p>Different professors have different teaching styles. Some lecture, some use power point slides and some depend on textbooks. The inconsistency can make note-taking problematic from class to class. The best way to handle this is to develop a note-taking system that works with each professor’s teaching style.</p>
                        <p>The sooner you get organized, the better. </p>
                        <li>
                            <h2 class="point-h2">Participate.</h2>
                        </li>
                        <p>Class participation has two main benefits. One, it is another way to build your reputation as a student who takes the class seriously. Two, the more engaged you are, the better you will understand and remember the material. If you're timid or new to the college experience, it can be difficult to muster enough courage to participate in class. Nevertheless, that is exactly what you need to do. Class participation shows the professor you are eager to learn. In no time you will build the confidence</p>
                        <li>
                            <h2 class="point-h2">Do a weekly study review.</h2>
                        </li>
                        <p>A common problem students encounter is trying to learn an enormous amount of material right before the midterm or final exam. This is practically impossible. You’ll find it much easier if you take a gradual approach to studying. At least once a week, review your notes starting from the beginning of the course. Reviewing doesn't take time especially if you attend classes, listen and Participate. This will take about 1 or 2 hours, just enough time to build familiarity with the material. </p>

                        <p>By doing a weekly review you’ll gradually memorize everything and will better understand how one concept builds on the next. Putting in small amounts of effort on a consistent basis will drastically reduce the amount of studying you need to do right before the test or examination.</p>
                        <li>
                            <h2 class="point-h2">Befriend students you know can assist you.</h2>
                        </li>
                        <p>Seek out other students who take studying seriously and who excel in the class. Spending time with them can help you keep a positive attitude about studying, provide accountability, and give you the opportunity to interact and ask questions about the course material.</p>
                        <p>Taking part in a study group is one of the best ways to stay on track and raise your GPA. Study groups not only make you accountable, they also force you to become more organized and talk about what you have learned. If you can’t find a study group to join, try forming one yourself.</p>
                        <li>
                            <h2 class="point-h2">Study Smart.</h2>
                        </li>
                        <p>Some professors have patterns in which they set the questions for both test and examination. This is why missing a class is not acceptable.</p>
                        <p></p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            One of three columns
        </div>
    </div>
</div>
<div class="container-three">
    <div class="card-deck">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

    </div>
</div>
<!--    <img src="pics/up-arrow.png" class="img-raise d-inline-block align-top " alt="rise.jpg">-->

<%- include('partials/mainfooter'); -%>
