* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

body {
    background-color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none !important;
}

nav {
    background-color: rgba(85, 172, 238, 0.2);
    border: 0.1rem solid rgba(85, 172, 238, 1);
    margin-bottom: 1.5rem;
}

ul {
    font-size: 2rem;
    margin-bottom: 10rem;
}

.calculator-img {
    width: 4.3rem;
}

.nav-link,
.btn-style {
    background-color: white;
    border: 0.1rem solid rgba(0, 0, 0);
    border-radius: 0.5rem !important;
    color: rgba(0, 0, 0) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 1.5rem 2rem 1.5rem !important;
    padding: 0.6rem 2rem 0.6rem 2rem !important;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.btn-style:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.drop-item {
    color: rgba(0, 0, 0, 1);
    font-size: 1.3rem !important;
}

.dropdown2 {
    display: none;
}

.drop-item:hover {
    background-color: rgba(85, 172, 238, 0.2);
    border: 0.1rem solid rgba(85, 172, 238, 1);
    color: rgba(0, 0, 0, 1) !important;
}

a.sign-up {
    background-color: rgba(0, 0, 0, 1);
    color: white !important;
}

.container-one {
    padding-left: 15rem;
}

.container-two {
    padding-left: 15rem;
    padding-right: 7rem;
}

.container-three {
    margin-bottom: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1.8rem;
    line-height: 2;
    text-align: justify;
}

.p-joke {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.point-h2 {
    font-size: 2.2rem;
}

.unorder-list {
    padding-left: 3rem;
}

.motvquote {
    font-style: italic;
}

table {
    border-collapse: collapse;
    font-family: "arial", sans-serif;
    font-size: 1.5rem;
}

table.allcalculation3 {
    width: 60%;
}

table.allcalculation {
    width: 80% !important;
}

table.allcalculation2 {
    width: 100%;
}

.table-hide {
    display: none;
}

td,
th {
    font-weight: bold;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-a {
    color: rgba(32, 106, 93)
}

.table-b {
    color: rgba(58, 73, 138)
}

.table-c {
    color: rgba(186, 121, 103)
}

.table-d {
    color: rgba(65, 217, 192)
}

.table-f {
    color: rgba(217, 32, 38)
}

.card-title {
    font-size: 1.8rem;
}

.card-button {
    width: 100%;

}

p.card-text {
    line-height: 1.8;
}

.btn-btn1 {
    background-color: rgba(0, 175, 254);
    font-size: 1.4rem;
    font-weight: bold;
}

.btn-btn2 {
    background-color: rgba(1, 191, 166);
    font-size: 1.4rem;
    font-weight: bold;
}

.btn-btn3 {
    background-color: rgba(58, 54, 104);
    font-size: 1.4rem;
    font-weight: bold;
}

.btn-btn1:hover {
    background-color: rgba(0, 175, 250, 0.8);
}

.btn-btn2:hover {
    background-color: rgba(1, 191, 166, 0.8);
}

.btn-btn3:hover {
    background-color: rgba(58, 54, 104, 0.8);
}

.nav-button {
    border: 0.1rem solid rgba(0, 0, 0, 1) !important;
}

.card {
    margin-bottom: 2rem;
}

/* Footer */

.footer {
    background-color: rgba(85, 172, 238, 0.2);
    border: 0.1rem solid rgba(85, 172, 238, 1);
    bottom: 0;
    padding: 1.7rem 7rem;
    position: absolute;
    width: 100%;
}

.col-footer {
    margin: auto;
    text-align: center;
}

.checkGPA-name {
    color: rgb(1, 1, 1);
    font-family: 'Ranchers', sans-serif !important;
    font-size: 2rem;
    display: inline-block;
    margin-right: 0.8rem;
}

.checkGPA-name:hover {
    color: rgba(1, 1, 1, 0.9);
}

.checkgparight {
    font-size: 1.2rem;
    display: inline-block;
}

.checkgpap {
    display: inline-block;
    font-size: 1.2rem;
}

.pad-p {
    padding: 0 1rem;
}

.all-socials {
    padding: 0 0.5rem;
}

.div-socials {
    display: inline-block;
}


/* Media queries at 1200px */
@media(max-width: 1200px) {
    .container-one {
        padding-left: 10rem;
    }

    .container-two {
        padding-left: 10rem;
        padding-right: 7rem;
    }

    .container-three {
        margin-bottom: 15rem;
        padding-left: 9rem;
        padding-right: 9rem;
    }
}

/* Media queries at 1000px */
@media(max-width: 1000px) {
    .container-one {
        padding-left: 10rem;
    }

    .container-two {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .container-three {
        margin-bottom: 15rem;
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

/* Media queries at 800px */
@media(max-width: 800px) {
    table {
        width: 100%;
    }

    .table-hide {
        width: 100%;
    }

    table.allcalculation {
        width: 100% !important;
    }

    table.allcalculation3 {
        width: 100%;
    }
}

/* Media queries at 991px */
@media(max-width: 991px) {

    .nav-link,
    .btn-style {
        margin: 0.8rem 0 !important;
        background-color: rgba(85, 172, 238, 0) !important;
        border: none !important;
        padding: 0 !important;
        border-radius: 0rem !important;
        color: rgba(0, 0, 0, 1) !important;
        font-family: sans-serif !important;
        font-size: 1.5rem !important;
        font-weight: bold;
        text-align: left;
        width: 100% !important;
    }

    .nav-link:hover,
    a.sign-up:hover {
        background-color: rgba(85, 172, 238, 0) !important;
        color: rgba(0, 0, 0, 0.8) !important;
    }

    .btn-style:hover {
        background-color: rgba(85, 172, 238, 0) !important;
        color: rgba(0, 0, 0, 0.8) !important;
        cursor: context-menu !important;
    }

    a.sign-up {
        background-color: rgba(85, 172, 238, 0) !important;
        color: rgba(0, 0, 0, 1) !important;
    }

    .dropdown-menu {
        display: none !important;
    }

    .dropdown2 {
        display: block;
        color: rgba(0, 0, 0, 1) !important;
        font-family: sans-serif !important;
        font-size: 1.5rem !important;
        font-weight: bold !important;
        margin: 0.8rem auto;
        width: 100% !important;
    }

    .dropdown2:hover {
        background-color: rgba(85, 172, 238, 0) !important;
        color: rgba(0, 0, 0, 0.8) !important;
    }
}


/* Media queries at 700px */
@media(max-width: 700px) {
    .container-one {
        padding-left: 5rem;
    }

    .container-two {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .unorder-list {
        padding-left: 2rem;
    }
}

/* Media queries at 520px */
@media(max-width: 520px) {
    .table-hide {
        display: block;
    }

    table.allcalculation2 {
        display: none;
    }

    .container-one {
        padding-left: 2rem;
    }

    .container-two {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container-three {
        margin-bottom: 20rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .unorder-list {
        padding-left: 1rem;
    }

    .footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Media queries at 400px */
@media(max-width: 400px) {
    .container-one {
        padding-left: 1;
        text-align: left;
    }

    .container-two {
        text-align: left;
        padding-left: 1;
        padding-right: 1;
    }

    .container-three {
        margin-bottom: 18rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/*
@media(max-width: 370px) {

    table.allcalculation2 {
        font-size: 0.9rem;
        width: 3rem !important;
    }
}
*/
