* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px !important;
    min-height: 100%;
    position: relative;
}

body {
    background-color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none !important;
}

h2 {
    margin: 2rem 4rem;
}

h5 {
    line-height: 1.5;
}

nav {
    background-color: rgba(85, 172, 238, 0.2);
    border: 0.1rem solid rgba(85, 172, 238, 1);
    margin-bottom: 1.5rem;
}

.calculator-img {
    width: 4.3rem;
}

.nav-link,
.btn-style {
    background-color: white;
    border: 0.1rem solid rgba(0, 0, 0);
    border-radius: 0.5rem;
    color: rgba(0, 0, 0) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 1.5rem 2rem 1.5rem !important;
    padding: 0.6rem 2rem 0.6rem 2rem !important;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.btn-style:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.drop-item {
    color: black;
    font-size: 1.3rem !important;
}

.dropdown2 {
    display: none;
}

.drop-item:hover {
    background-color: rgba(85, 172, 238, 0.2);
    border: 0.1rem solid rgba(85, 172, 238, 1);
}

a.sign-up {
    background-color: rgba(0, 0, 0, 1);
    color: white !important;
}

.pics1,
.pics2,
.pics3,
.pics4,
.pics5 {
    width: 5%;
    opacity: 0.5;
}

.pics1 {
    position: absolute;
    top: 15rem;
    right: 5rem;
}

.pics2 {
    position: absolute;
    top: 25rem;
    right: 5rem;
}

.pics4 {
    position: absolute;
    top: 35rem;
    right: 5rem;
}

.pics3 {
    position: absolute;
    top: 45rem;
    right: 5rem;
}

.pics5 {
    position: absolute;
    top: 55rem;
    right: 5rem;
}

.picsreply {
    width: 1.5rem;
    display: none;
}

.admin {
    display: block;
    margin-left: 0.24rem;
}

/*h6 styles*/
.h6style {
    display: inline-block;
    margin-left: 0rem;
    width: 5rem;
    cursor: pointer;
}

.h5style {
    display: inline-block !important;
    margin-left: 0.25rem;
    text-align: justify;
    word-break: break-word;
}

.h5style2 {
    display: block;
    margin-left: 0.25rem;
    text-align: justify;
    word-break: break-word;
}

.h6style:hover {
    cursor: pointer;
    font-size: 1.1rem;
}

.form-structure {
    margin: 4rem 4rem;
}

.text-css {
    font-size: 1.5rem;
    width: 53.15%;
    border-radius: 1rem;
}

.button-css {
    border: 0.1rem solid rgba(0, 0, 0, 1);
    padding: 0.3rem 2rem 0.3rem 2rem;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    background-color: white;
    font-weight: 100;
    font-size: 1rem;
}

.button-css:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.nothing {
    margin-bottom: 7rem;
}

.margin-help {
    margin-bottom: 5rem;
}

.showmore-button {
    border: 0.1rem solid rgba(0, 0, 0, 1);
    border-radius: 2rem;
    padding: 0.8rem 3.8rem 0.8rem 3.8rem;
    font-size: 1.15rem;
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255, 1);
    margin: 5rem 27rem;
    width: 18rem;
}

.showmore-button:hover {
    background-color: rgba(0, 0, 0, 0.91);
}

.form-show {
    margin: 1rem 4rem;
    display: block !important;
}

.form-hide {
    margin: 1rem 4rem;
    display: none;
}

.reply-css {
    background-color: rgba(85, 172, 238, 0.2);
    border: 0.1rem solid rgba(85, 172, 238, 1);
    border-radius: 1rem;
    margin: 2rem 4rem -0.5rem 4rem;
    padding: 2rem;
    width: 50%;
}

.reply-css2red {
    background-color: rgba(230, 179, 198, 0.5);
    border: 0.1rem solid rgba(230, 179, 198, 1);
    border-radius: 1rem;
    margin: 1.3rem 4rem -0.2rem 4rem;
    padding: 2rem;
    width: 50%;
}

/*view reply button*/
.div-viewreply {
    cursor: pointer
}

.view-reply {
    margin: 1.5rem 0 2rem 0.5rem;
    display: inline-block;
}

.arrow-style {
    margin: 1.75rem 0 1.5rem 6.2rem;
}

/*Alert Beware*/
.alert-beware {
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-beware {
    font-size: 1.25rem;
}

/*Monitor length*/
.h1-control {
    display: none;
}

.drop {
    margin: 0;
    padding: 0;
}

/*display time styles*/
.timeh6 {
    width: 50%;
}

/*Media query at 5000px*/
@media(max-width: 5000px) {
    img {
        display: none;
    }

}

/*Media query at 1800px*/
@media(max-width: 1800px) {
    img {
        display: inline-block;
    }

}

/*Media query at 1001px*/
@media(max-width: 1001px) {

    img {
        display: none;
    }

    .form-structure {
        width: 84.5%;
    }


    .form-structure1 {
        width: 91.5%;
    }

    .alert-beware {
        width: 70%;
        margin: 2rem 3rem;
    }

    .nav-button {
        border: 0.1rem solid rgba(0, 0, 0, 1) !important;
    }


    .text-css {
        position: static;
        width: 83%;
    }

    .button-css {
        position: static;
    }

    .reply-css {
        width: 70%;
    }

    .reply-css2red {
        width: 70%;
    }

}

@media(max-width: 991px) {

    .nav-link,
    .btn-style {
        margin: 0.8rem 0 !important;
        background-color: rgba(85, 172, 238, 0) !important;
        border: none !important;
        padding: 0 !important;
        border-radius: 0rem !important;
        color: rgba(0, 0, 0, 1) !important;
        font-family: sans-serif !important;
        font-size: 1.5rem !important;
        font-weight: bold !important;
        text-align: left;
        width: 100% !important;
    }

    .nav-link:hover,
    a.sign-up:hover {
        background-color: rgba(85, 172, 238, 0) !important;
        color: rgba(0, 0, 0, 0.8) !important;
    }

    .btn-style:hover {
        background-color: rgba(85, 172, 238, 0) !important;
        color: rgba(0, 0, 0, 0.8) !important;
        cursor: context-menu !important;
    }

    a.sign-up {
        background-color: rgba(85, 172, 238, 0) !important;
        color: rgba(0, 0, 0, 1) !important;
    }

    .dropdown-menu {
        display: none !important;
    }

    .dropdown2 {
        display: block;
        color: rgba(0, 0, 0, 1) !important;
        font-family: sans-serif !important;
        font-size: 1.5rem !important;
        font-weight: bold;
        margin: 0.8rem auto;
        width: 100% !important;
    }

    .dropdown2:hover {
        background-color: rgba(85, 172, 238, 0) !important;
        color: rgba(0, 0, 0, 0.8) !important;
    }
}

/* Media queries at 800px */
@media(max-width: 800px) {
    .form-structure1 {
        width: 93%;
    }
}

/* Media queries at 800px */
/*Media query at 500px*/
@media(max-width: 500px) {

    h2 {
        margin: 2rem 2rem;
    }

    .nav-link {
        margin: 2rem 2rem -0.5rem 2rem;
    }

    .alert-beware {
        width: 84%;
        margin: 2rem 2rem;
    }

    .form-structure {
        margin: 4rem 2rem;
        width: 91%;
    }

    .reply-css,
    .reply-css2red {
        width: 84%;
        margin-left: 2rem;

    }

    .text-css {
        width: 92%;
    }

    .form-structure1 {
        margin-left: -2rem;
        width: 109%;
    }

    .div-viewreply {
        margin-left: -2rem;
    }
}

/* Media queries at 350px */
@media(max-width: 350px) {
    .form-structure1 {
        width: 120%;
    }
}
