* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px !important;
}

body {
    background-color: rgba(1, 1, 1, 0.9);
    color: #000000;
    font-family: sans-serif, "Trebuchet MS", Helvetica;
}

h1 {
    font-family: 'Ranchers', cursive;
    font-size: 5rem;
    width: 50%;
    margin: 5rem 0 5rem 5rem;
}

a {
    text-decoration: none !important;
}

hr {
    border-top: 1px solid rgb(0, 0, 0);
    padding: 0rem 2rem;
    background-color:
}

.display-div {
    background-color: rgba(25, 25, 25);
    height: 5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 100%
}

.display-pics {
    border-radius: 100%;
    border: 0.2rem solid rgba(255, 255, 255, 1);
    height: 4.5rem;
    position: absolute;
    right: 2rem;
    width: 4.5rem;
    z-index: 4;
}

.dropdown-name {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    position: absolute;
    right: 2rem;
    top: 5rem;
    z-index: 2;
}

.dropdown-name2 {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    position: absolute;
    right: 4rem;
    top: 5rem;
    z-index: 2;
}

img.your-image:hover + .dropdown-name {
    cursor: context-menu !important;
    display: block;
}

img.your-image2:hover + .dropdown-name,
img.your-image2:hover + .dropdown-name2 {
    cursor: context-menu !important;
    display: block;
}

.h4-yourname {
    color: rgba(255, 255, 255, 1);
}

.h4-yourname2 {
    color: rgba(255, 255, 255, 1);
    width: 10rem !important;
}

.display-pics:hover {
    border: 0.25rem solid rgba(255, 255, 255, 1);
    cursor: context-menu !important;
    opacity: 0.9;
}

.your-image {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.your-image2 {
    border: 0.25rem solid rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    cursor: context-menu !important;
    position: absolute;
    right: 2rem;
    width: 4.5rem;
}

.your-image2:hover {
    border: 0.27rem solid rgba(255, 255, 255, 0.5);
}

.home-pics {
    width: 4.5rem;
}

.gradesystem-container h5 {
    margin: 0.5rem 0 1rem 0;
}

.img-systems {
    width: 4rem;
    margin: 1rem 0 0.3rem 0;
    cursor: context-menu;
}

form button {
    padding: 0.4rem 5rem !important;
    border-radius: 2.5rem !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem !important;
    font-weight: 100 !important;
}

table tbody tr {
    border: none;
}

table tbody tr.main:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.button-ions {
    cursor: pointer !important;
    background-color: rgba(0, 0, 0, 1) !important;
    border: 0 !important;
    border-radius: 2px !important;
    color: #909090 !important;
    font-size: 0.8rem !important;
    padding: 5px 10px !important;
    opacity: 0 !important;
}

.ion-but {
    cursor: pointer !important;
    background-color: rgba(0, 0, 0, 1) !important;
    border: 0 !important;
    border-radius: 2px !important;
    color: #909090 !important;
    font-size: 0.8rem !important;
    padding: 5px 10px !important;
}

table tbody tr:hover .button-ions {
    opacity: 1 !important;
}

.grid-box img:hover {
    opacity: 100;
}

div.grid-box {
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;

    margin-left: 0;
    margin-right: 0;
}

.grid-box h4 {
    font-size: 1.1rem;
    width: 80%;
    margin: 1rem auto 0.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.home-container {
    background-color: #FFFFFF;
    margin: 4rem auto;
    text-align: center;
    box-shadow: inset 0 0 2rem 0 rgba(0, 0, 0, 1);
    width: 80%;
    height: 25rem;
    padding: 0 3rem 0 3rem;
}

.div {
    text-align: center;
    margin: auto;
    width: 40rem;
}

.div2 {
    text-align: center;
    margin: auto;
    width: 50rem;
}

.div4 {
    text-align: center;
    margin: auto;
    width: 42rem;
}

.home-container1 {
    background-color: #FFFFFF;
    margin: 4rem auto;
    text-align: center;
    box-shadow: inset 0 0 2rem 0 rgba(0, 0, 0, 1);
    width: 80%;
    height: 20rem;
    padding: 0 3rem 0 3rem;
}

/* Grade System styling */
.table-gradesystem {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 1.25rem 0 rgba(0, 0, 0, 1);
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    margin: 3rem auto;
}

/* Calculate styling */
.table-calculate {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 1.25rem 0 rgba(0, 0, 0, 1);
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    margin: 3rem auto;
}

/* History styling */
.table-history {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    background-color: white;
    margin-bottom: 7rem;
}

/* Table colour code styles */
table tbody tr.A td:first-of-type {
    border-left: 0.5rem solid #206a5d;
}

table tbody tr.B td:first-of-type {
    border-left: 0.5rem solid #394989;
}

table tbody tr.C td:first-of-type {
    border-left: 0.5rem solid #ba7967;
}

table tbody tr.D td:first-of-type {
    border-left: 0.5rem solid #32e0c4;
}

table tbody tr.F td:first-of-type {
    border-left: 0.5rem solid #d92027;
}

.othercolors {
    border-left: 0.5rem solid #521262;
}

.gpa-css,
.all {
    background-color: rgba(0, 0, 0, 1) !important;
    color: rgb(255, 255, 255, 1);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
}

/* Alert */
.alert-css,
.alert-css1 {
    border-radius: 0;
    font-size: 1.3rem;
    padding: 0.5rem 3rem;
    width: 50%;
    margin: 0.5rem auto;
    /*    text-align: justify;*/
    text-align: center;
}

.award-div {
    text-align: center !important;
    width: 100%;
}

.award {
    width: 6rem;
    margin: 1rem auto 0 auto;
}

/* Media queries at 900px */
@media screen and (max-width: 900px) {
    .home-pics {
        width: 4rem;
    }


    div.grid-box {
        text-align: center;
        padding: 2rem 2rem;
    }

    .alert-css,
    .alert-css1 {
        width: 65%;
    }
}

/* Media queries at 575px */
@media screen and (max-width: 575px) {
    .home-pics {
        display: none;
    }

    div.grid-box {
        text-align: center;
        padding: 2rem 1rem;
    }

    .grid-box h4 {
        font-size: 1.2rem;
        text-align: center;
    }

    .grid-box h4:hover {
        font-size: 1.23rem;
    }

    .div {
        width: 30rem;
    }

    .div2 {
        width: 40rem;
    }

    .div4 {
        width: 32rem;
    }
}

/* Media queries at 410px */
@media screen and (max-width: 410px) {
    .div2 {
        width: 31rem;
    }

    .alert-css,
    .alert-css1 {
        width: 90%;
    }
}

/* Media queries at 300px */
@media screen and (max-width: 300px) {

    .div {
        width: 25rem;
    }

    .home-container1 {
        width: 100%;
    }

    .table-gradesystem {
        width: 100%;
    }

    .div4 {
        width: 25.5rem;
    }

    .home-container {
        width: 100%;
    }

    .table-calculate {
        width: 100%;
    }

    /*
    .unit-remove {
        display: none;
    }*/

    .div2 {
        width: 25.5rem;
    }


    .table-history {
        width: 95%;
    }

}

/* Media query for print */
@media print {
    img {
        display: none !important;
    }

    .grid-box h4 {
        display: none !important;
    }

    table {
        color: rgba(0, 0, 0, 1);
    }

    .norm1 {
        font-size: 1.5rem;
    }

    .norm {
        color: rgba(0, 0, 0, 1);
    }
}

@page {
    size: auto;
    margin: 0mm;
}
