* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px !important;
    min-height: 100%;
    max-width: 100%;
    position: relative;
}

body {
    background-color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none !important;
}

nav {
    background-color: rgb(221, 239, 253);
    border: 0.1rem solid rgba(85, 172, 238, 1);
    margin-bottom: 1.5rem;
}

h1 {
    color: #000000;
    font-family: 'Ranchers', sans-serif !important;
    font-size: 8rem;
    width: 100% !important;
}

h6 {
    font-weight: bold;
}

.h1-check {
    color: #000000;
    font-family: 'Ranchers', sans-serif;
}

.carousel-item img {
    display: block;
    width: 100%;
}

.main-container {
    margin-bottom: 8rem;
}

.main-carousel {
    background-color: #fff;
    box-shadow: inset 0 0 1.5rem 0 #f1f3f8;
    height: 45rem;
    padding: 1rem;
    width: 45rem;
    margin-bottom: 3rem;
}

.calculator-img {
    width: 4.3rem;
}

.nav-link,
.btn-style {
    background-color: white !important;
    border: 0.1rem solid rgba(0, 0, 0, 1) !important;
    border-radius: 0.5rem !important;
    color: rgba(0, 0, 0, 1) !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.05rem !important;
    margin: 2rem 1.5rem 2rem 1.5rem !important;
    padding: 0.6rem 2rem 0.6rem 2rem !important;
}

.btn-style:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.drop-item {
    color: black;
    font-size: 1.3rem !important;
}

.dropdown2 {
    display: none;
}

.drop-item:hover {
    background-color: rgba(85, 172, 238, 0.2);
    border: 0.1rem solid rgba(85, 172, 238, 1);
}

a.sign-up {
    background-color: rgba(0, 0, 0, 1) !important;
    color: white !important;
}

/* Carounsel */
.row1 {
    padding: 8rem;
}

.row2 {
    padding: 2rem 0 0 10rem;
}

.carousel-inner {
    padding: 1rem;
}

/* Footer */

.footer {
    background-color: rgb(221, 239, 253);
    border: 0.1rem solid rgba(85, 172, 238, 1);
    bottom: 0;
    padding: 1.7rem 7rem;
    position: absolute;
    width: 100%;
}

.col-footer {
    margin: auto;
    text-align: center;
}

.checkGPA-name {
    color: rgb(1, 1, 1);
    font-family: 'Ranchers', sans-serif !important;
    font-size: 2rem;
    display: inline-block;
    margin-right: 0.8rem;
}

.checkGPA-name:hover {
    color: rgba(1, 1, 1, 0.9);
}

.checkgparight {
    font-size: 1.2rem;
    display: inline-block;
}

.checkgpap {
    display: inline-block;
    font-size: 1.2rem;
}

.pad-p {
    padding: 0 1rem;
}

.all-socials {
    padding: 0 0.5rem;
}

.div-socials {
    display: inline-block;
}

/* Media queries at 1000px */
@media(max-width: 1000px) {
    .main-carousel {
        margin: auto 10rem;
        text-align: center;
    }

    h1 {
        margin: auto;
        text-align: center;
        width: 70%;
    }

    .nav-button {
        border: 0.1rem solid rgba(0, 0, 0, 1) !important;
        color: black !important;
    }

    /* Media queries at 991px */
    @media(max-width: 991px) {
        .main-carousel {
            text-align: center;
            margin: auto;
        }

        .nav-link,
        .btn-style {
            margin: 0.8rem 0 !important;
            background-color: rgba(85, 172, 238, 0) !important;
            border: none !important;
            padding: 0 !important;
            border-radius: 0rem !important;
            color: rgba(0, 0, 0, 1) !important;
            font-family: sans-serif !important;
            font-size: 1.5rem !important;
            font-weight: bold !important;
            text-align: left;
            width: 100% !important;
        }

        .nav-link:hover,
        a.sign-up:hover {
            background-color: rgba(85, 172, 238, 0) !important;
            color: rgba(0, 0, 0, 0.8) !important;
        }

        .btn-style:hover {
            background-color: rgba(85, 172, 238, 0) !important;
            color: rgba(0, 0, 0, 0.8) !important;
            cursor: context-menu !important;
        }

        a.sign-up {
            background-color: rgba(85, 172, 238, 0) !important;
            color: rgba(0, 0, 0, 1) !important;
        }

        .dropdown-menu {
            display: none !important;
        }

        .dropdown2 {
            display: block;
            color: rgba(0, 0, 0, 1) !important;
            font-family: sans-serif !important;
            font-size: 1.5rem !important;
            font-weight: bold !important;
            margin: 0.8rem auto;
            width: 100% !important;
        }

        .dropdown2:hover {
            background-color: rgba(85, 172, 238, 0) !important;
            color: rgba(0, 0, 0, 0.8) !important;
        }

        .row1 {
            padding: 5rem 0;
        }

        h1 {
            text-align: center;
            margin: auto;
            font-size: 5.5rem;
        }

        .main-container {
            margin-bottom: 15rem;
        }

        .row2 {
            padding: 1rem 15%;
        }
    }

    /* Media queries at 800px */
    @media(max-width: 800px) {

        h1 {
            text-align: center;
            margin: auto;
        }

        .main-carousel {
            text-align: center;
            margin: auto;
        }
    }

    /* Media queries at 650px */
    @media(max-width: 650px) {
        .main-carousel {
            width: 40rem;
            height: 40rem;
            padding: 1rem;
            text-align: center;
            margin: auto;
        }
    }

    /* Media queries at 550px */
    @media(max-width: 550px) {
        .main-carousel {
            width: 35rem;
            height: 35rem;
        }
    }

    /* Media queries at 500px */
    @media(max-width: 500px) {

        h1 {
            font-size: 5rem;
        }

        .main-carousel {
            width: 30rem;
            height: 30rem;
            padding: 1rem;
            text-align: center;
            margin: auto;
        }

        .row1 {
            padding: 4rem;
        }

        .item500 {
            height: 270px !important;
        }

        .p-copyright {
            width: 100%;
        }

        .footer {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    /* Media queries at 400px */
    @media(max-width: 400px) {
        .footer {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    @media(max-width: 350px) {
        .main-carousel {
            width: 22rem;
            height: 22rem;
            padding: 0.2rem;
            text-align: center;
            margin: auto;

        }

        .item500 {
            height: 197px !important;
        }

    }
