* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px !important;
    min-height: 100%;
    max-width: 100%;
    position: relative;
}

body {
    /*
    background-color: rgba(221, 239, 253, 0.3)
*/
}

a {
    text-decoration: none !important;
}

nav {
    background-color: rgb(221, 239, 253);
    border: 0.1rem solid rgba(85, 172, 238, 1);
}

h1 {
    color: #000000;
    font-family: 'Ranchers', sans-serif !important;
    font-size: 8rem;
    width: 25%;
}

h6 {
    font-weight: bold;
}

.h1-check {
    color: #000000;
    font-family: 'Ranchers', sans-serif;
}

.carousel-item img {
    display: block;
    width: 100%;
}

.main-container {
    margin-bottom: 8rem;
}

.main-carousel {
    background-color: #fff;
    box-shadow: inset 0 0 1.5rem 0 #f1f3f8;
    height: 45rem;
    padding: 1rem;
    width: 45rem;
    margin-bottom: 3rem;
}

img.calculator-img {
    width: 4.3rem;
}

.nav-link,
.btn-style {
    background-color: white !important;
    border: 0.1rem solid rgba(0, 0, 0, 1) !important;
    border-radius: 1.5rem !important;
    color: rgba(0, 0, 0, 1) !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
    margin: 2rem 1.5rem 2rem 1.5rem !important;
    padding: 0.6rem 2rem 0.6rem 2rem !important;
}

.btn-style:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.drop-item {
    color: black;
    font-size: 1.3rem !important;
}

.drop-item:hover {
    background-color: white !important;
    color: blue;
}

a.sign-up {
    background-color: rgba(0, 0, 0, 1) !important;
    color: white !important;
}

/* Carounsel */
.row1 {
    padding: 8rem;
}

.row2 {
    padding: 2rem 0 0 10rem;
}

.carousel-inner {
    padding: 1rem;
}



/* Footer */
.col-footer {
    margin: auto;
    text-align: center;
}

.checkGPA-name {
    color: rgb(1, 1, 1);
    font-family: 'Ranchers', sans-serif !important;
    font-size: 2rem;
    display: inline-block;
    margin-right: 0.8rem;
}

.checkGPA-name:hover {
    color: rgba(1, 1, 1, 0.9);
}

.checkgparight {
    font-size: 1.2rem;
    display: inline-block;
}

.checkgpap {
    display: inline-block;
    font-size: 1.2rem;
}

.pad-p {
    padding: 0 1rem;
}

.all-socials {
    padding: 0 0.5rem;
}

.div-socials {
    display: inline-block;
}

.footer {
    background-color: rgb(221, 239, 253);
    border: 0.1rem solid rgba(85, 172, 238, 1);
    bottom: 0;
    padding: 1.7rem 7rem;
    position: absolute;
    width: 100%;
}

/* Media queries at 1000px */
@media(max-width: 1000px) {
    .main-carousel {
        margin: auto 10rem;
        text-align: center;
    }

    h1 {
        margin: auto 11rem;
        text-align: center;
        width: 70%;
    }

    img.calculator-img {
        display: none !important;
    }

    .nav-link {
        background-color: #faf4ff !important;
        border: none !important;
        border-radius: 0rem !important;
        color: rgba(0, 0, 0, 1) !important;
        font-weight: bold !important;
        font-size: 1.2rem !important;
        margin: 2rem 2rem -0.5rem 3rem !important;
        padding: 0 !important;
    }

    .nav-link:hover {
        background-color: #faf4ff !important;
        color: rgba(0, 0, 0, 0.8) !important;
    }

    .nav-button {
        border: 0.1rem solid rgba(0, 0, 0, 1) !important;
        color: black !important;
        margin: 1rem 2rem -0.5rem 3rem;
    }

    /* Media queries at 900px */
    @media(max-width: 900px) {
        h1 {
            font-size: 5.8rem;
        }
    }

    /* Media queries at 800px */
    @media(max-width: 800px) {

        h1 {
            text-align: center;
            margin: auto;
        }

        .main-carousel {
            text-align: center;
            margin: auto;
        }

        .row2 {
            padding: 1rem 0 0 1.6rem;
        }

    }

    /* Media queries at 500px */
    @media(max-width: 500px) {

        h1 {
            font-size: 5rem;
        }

        .main-carousel {
            width: 30rem;
            height: 30rem;
            padding: 0.35rem;
            text-align: center;
            margin: auto;

        }

        .item500 {
            height: 270px !important;
        }

        .p-copyright {
            width: 100%;
        }
    }

    @media(max-width: 350px) {
        .main-carousel {
            width: 22rem;
            height: 22rem;
            padding: 0.2rem;
            text-align: center;
            margin: auto;

        }

        .item500 {
            height: 197px !important;
        }

    }
