* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px !important;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #faf4ff !important;
    color: #000000;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Ranchers', sans-serif !important;
    color: #000000;
    font-size: 8rem;
    width: 25%;
}

.h1-check {
    font-family: 'Ranchers', sans-serif !important;
    color: #000000;
}

.carousel-item img {
    width: 100%;
}


img.calculator-img {
    width: 10%;
}

.nav-link {
    margin: 2rem 1.5rem 2rem 1.5rem !important;
    border: 0.1rem solid rgba(0, 0, 0, 1) !important;
    padding: 0.6rem 2rem 0.6rem 2rem !important;
    border-radius: 1.5rem !important;
    background-color: white !important;
    font-weight: 100 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

/* Carounsel */
.row1 {
    padding: 8rem;
}

.row2 {
    padding: 2rem 0 0 10rem;
}

.main-carousel {
    background-color: #faf4ff;
    box-shadow: inset 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
    width: 45rem;
    height: 45rem;
    padding: 1rem;

}

.carousel-inner {
    padding: 1rem;
}

/* Footer */
.my-socials {
    text-align: center;
    padding: 3rem 0 0 0;
    margin-bottom: 0;
}

.all-socials {
    margin: 0 3rem 5rem 0;
}

.insta-social {
    color: #405DE6;
}

.twitter-social {
    color: #00acee;
}

.yahoo-social {
    color: #720e9e;
}

.p-copyright {
    position: absolute;
    width: 50%;
    margin-left: 1rem;
    bottom: 0;
}

/* Media queries at 1000px */
@media(max-width: 1000px) {
    .main-carousel {
        text-align: center;
        margin: auto 10rem;
    }

    h1 {
        width: 70%;
        text-align: center;
        margin: auto 11rem;
    }

    img.calculator-img {
        display: none !important;
    }

    .nav-link {
        margin: 2rem 2rem -0.5rem 3rem !important;
        border: none !important;
        padding: 0 !important;
        background-color: #faf4ff !important;
        border-radius: 0rem !important;
        color: rgba(0, 0, 0, 1) !important;
        font-weight: bold !important;
        font-size: 1.2rem !important;
    }

    .nav-link:hover {
        background-color: #faf4ff !important;
        color: rgba(0, 0, 0, 0.8) !important;
    }

    .nav-button {
        margin: 1rem 2rem -0.5rem 3rem;
        border: 0.1rem solid rgba(0, 0, 0, 1) !important;
    }


}

/* Media queries at 800px */
@media(max-width: 800px) {

    h1 {
        text-align: center;
        margin: auto;
        font-size: 6rem;
    }

    .main-carousel {
        text-align: center;
        margin: auto;
    }

    .row2 {
        padding: 1rem 0 0 1.6rem;
    }

}

/* Media queries at 500px */
@media(max-width: 500px) {

    h1 {
        font-size: 5rem;
    }

    .main-carousel {
        width: 30rem;
        height: 30rem;
        padding: 0.35rem;
        text-align: center;
        margin: auto;

    }

    .item500 {
        height: 270px !important;
    }

    .p-copyright {
        width: 100%;
    }
}
