html,
body {
    background-color: rgba(255, 255, 255, 1);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem !important;
}

a {
    text-decoration: none !important;
}

nav {
    background-color: rgb(221, 239, 253);
    border: 0.07rem solid rgba(85, 172, 238, 1);
    padding-bottom: 0.7rem;
}

.text-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;

}

img.calculator-img {
    width: 2.7rem;
    margin: 0.8rem 0 0 0.7rem;
}

.navbar-margin {
    margin-bottom: 1rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    position: relative;

}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 0px;
}

input.mainpassword {
    border-radius: 0px;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.small-text {
    font-size: 0.75rem !important;
}

input.signin-email {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

input.signin-password {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

button.signin-button {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-top: 10px !important;
    font-size: 1.1rem !important;
}

button.signup-button {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 1.1rem !important;
}

div.alertcsssign,
.alertcssforpass,
.alertcsssign2 {
    border-radius: 0;
    font-size: 0.9rem;
    padding: 0.45rem;
    width: 60%;
    margin: auto;
    text-align: center
}

.rules0 {
    font-size: 0.8rem;
}

.rules {
    font-size: 0.8rem;
    margin-top: 2rem;
}

.rules1 {
    margin-top: 0rem !important;
    font-size: 0.9rem;
}

div.rules3 {
    margin-bottom: 0rem !important;
    margin-top: 0rem !important;
    font-size: 0.8rem;
    text-align: right !important;
    text-decoration: none !important;
}

a.rules4 {
    padding-left: 1rem;
}

/*Alert Beware*/
.alert-css1 {
    border-radius: 0;
    font-size: 1.3rem;
    padding: 0.5rem;
    /*
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
*/
    width: 50%;
    margin: 0.5rem auto;
    text-align: center !important;
}

.text-beware {
    font-size: 0.9rem;
}

.close-button {
    text-align: center !important;
    margin: auto !important;
    font-size: 1.3rem !important;
    padding: 0.5rem !important;
}

.p-copyright {
    margin-top: 20px !important;
}


div.checkbox.mb-3 {
    margin-top: 10px !important;
}

/* Media queries at 600px */
@media(max-width: 700px) {
    .alert-css1 {
        width: 80% !important;
    }
}

@media(max-width: 350px) {
    .alert-css1 {
        width: 85% !important;
    }
}
